@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


html, body {
  height: 100%;
  font-family: 'Montserrat';
  text-align: center;
  background-color: #000000;
  color: #F4F1DE;
}

p {
  margin: 0;
  font-size: 30px;
}

span {
  font-size: 30px;
  font-weight: bold;
}

.main {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

a {
  color: white;
  margin: 0 5px;
}

.social {
  padding-top: 2%;
  padding-bottom: 2%;
}

.links-page {
  text-decoration: none;
}

.link-page-i {
  margin: 0 5px;
}
